/* Global Settings */
:root {
  --font-size-base: 2rem; /* Root font size */
  --font-size-small: 1rem;
  --font-size-medium: 1.5rem;
  --font-size-large: 2.5rem;
  --spacing-small: 1rem;  /* Small spacing */
  --spacing-medium: 2rem; /* Medium spacing */
  --spacing-large: 3rem;  /* Large spacing */
  --container-padding: 5vw; /* Padding based on viewport width */
  --header-height: 8rem; /* Base height for header */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
